@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body, h1, h2, h3, h4, h5 {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

body {
  background-color: #cccbc9;
}